version: '3'

volumes:
  cockroach_data:
    driver: local
  caddy_data:
    driver: local

services:
  cockroach:
    image: cockroachdb/cockroach:latest
    volumes:
      - cockroach_data:/cockroach/cockroach-data
    command: start-single-node --insecure
    ports:
      - 26257:26257
  keycloak:
    build: .
    environment:
      KC_DB: cockroach
      KC_HTTP_RELATIVE_PATH: /auth
      PROXY_ADDRESS_FORWARDING: 'true'
      KC_BOOTSTRAP_ADMIN_USERNAME: admin
      KC_BOOTSTRAP_ADMIN_PASSWORD: admin
      KC_CACHE_CONFIG_FILE: cache-ispn-jdbc-ping.xml
      KC_DB_PASSWORD: ''
      KC_DB_SCHEMA: public
      KC_DB_URL_DATABASE: defaultdb
      KC_DB_URL_HOST: cockroach
      KC_DB_URL_PORT: 26257
      KC_DB_URL_PROPERTIES: '?sslmode=disable&useCockroachMetadata=true'
      KC_DB_USERNAME: root
      KC_FEATURES: persistent-user-sessions
      KC_HEALTH_ENABLED: true
      KC_HOSTNAME_STRICT: 'false'
      KC_HTTP_ENABLED: 'true'
      KC_HTTP_MANAGEMENT_PORT: 9000
      KC_ISPN_DB_VENDOR: cockroachdb
      KC_LOG_LEVEL: "INFO,io.phasetwo:DEBUG"
      KC_METRICS_ENABLED: true
      KC_PROXY_HEADERS: 'xforwarded'
      KC_TRANSACTION_JTA_ENABLED: 'false'
      KC_TRANSACTION_XA_ENABLED: 'false'
    ports:
      - 9000:9000
      - 8080:8080
      - 8443:8443
    depends_on:
      - cockroach
    entrypoint: /opt/keycloak/bin/kc.sh --verbose start --spi-email-template-provider=freemarker-plus-mustache --spi-email-template-freemarker-plus-mustache-enabled=true --spi-theme-cache-themes=false
  caddy:
    image: caddy:2.4.6-alpine
    restart: unless-stopped
    command: caddy reverse-proxy --from https://localhost:443 --to http://keycloak:8080
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy_data:/data
    depends_on:
      - keycloak
