version: '3'

volumes:
  cockroach_data:
    driver: local
  caddy_data:
    driver: local

services:
  cockroach:
    image: cockroachdb/cockroach:latest
    volumes:
      - cockroach_data:/cockroach/cockroach-data
    command: start-single-node --insecure
    ports:
      - 26257:26257
  keycloak:
    image: quay.io/phasetwo/phasetwo-cluster:23.0.4
    environment:
      KC_DB: cockroach
      KC_HTTP_RELATIVE_PATH: /auth
      PROXY_ADDRESS_FORWARDING: 'true'
      KEYCLOAK_USER: admin
      KEYCLOAK_PASSWORD: admin
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB_URL_HOST: cockroach
      KC_DB_URL_PORT: 26257
      KC_DB_URL_DATABASE: defaultdb
      KC_DB_SCHEMA: public
      KC_DB_USERNAME: root
      KC_DB_PASSWORD: ''
      KC_DB_URL_PROPERTIES: '?'
      KC_HOSTNAME_STRICT: 'false'
      KC_HTTP_ENABLED: 'true'
      KC_PROXY: 'edge'
      KC_LOG_LEVEL: INFO
      KC_TRANSACTION_XA_ENABLED: 'false'
      KC_TRANSACTION_JTA_ENABLED: 'false'
      KC_FEATURES: preview,admin2
      KC_METRICS_ENABLED: true
      KC_HEALTH_ENABLED: true
      JGROUPS_DISCOVERY_PROPERTIES: "remove_all_data_on_view_change=true,clear_table_on_view_change=true,datasource_jndi_name=java:jboss/datasources/KeycloakDS,info_writer_sleep_time=500,initialize_sql=\"CREATE TABLE IF NOT EXISTS JGROUPSPING (own_addr varchar(200) NOT NULL, cluster_name varchar(200) NOT NULL, ping_data BYTEA, constraint PK_JGROUPSPING PRIMARY KEY (own_addr, cluster_name));\""
      JGROUPS_DISCOVERY_PROTOCOL: "JDBC_PING"
      KC_CACHE_CONFIG_FILE: "cache-ispn-jdbc-ping.xml"
      KC_DB_POOL_MIN_SIZE: "0"
      KC_SPI_EMAIL_TEMPLATE_PROVIDER: "freemarker-plus-mustache"
      KC_SPI_EMAIL_TEMPLATE_FREEMARKER_PLUS_MUSTACHE_ENABLED: true
      KC_SPI_THEME_CACHE_THEMES: false
    ports:
      - 8080:8080
      - 8443:8443
    depends_on:
      - cockroach
    #entrypoint: /opt/keycloak/bin/kc.sh start --spi-email-template-provider=freemarker-plus-mustache --spi-email-template-freemarker-plus-mustache-enabled=true --spi-theme-cache-themes=false
    entrypoint: /opt/keycloak/bin/kc.sh start
  caddy:
    image: caddy:2.4.6-alpine
    restart: unless-stopped
    command: caddy reverse-proxy --from https://localhost:443 --to http://keycloak:8080
    ports:
      - 80:80
      - 443:443
    volumes:
      - caddy_data:/data
    depends_on:
      - keycloak
