name: release version

on:
  push:
    branches:
      - main

env:
  # Version 25.0.2
  VERSION_MAJOR: 25
  VERSION_SUBMAJOR: 0
  VERSION_MINOR: 2

jobs:
  release-public:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: "21"
          distribution: adopt
      - name: Build with Maven
        run: cd libs/ && mvn -U --batch-mode package && cd ../
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Quay.io
        uses: docker/login-action@v2
        with:
          registry: quay.io
          username: ${{ secrets.QUAY_USERNAME }}
          password: ${{ secrets.QUAY_ROBOT_TOKEN }}
      - name: Version
        run: |
          TS=$(date +%s)
          echo "VERSION_MAJOR=$VERSION_MAJOR" >> $GITHUB_ENV
          echo "VERSION_SUBMAJOR=$VERSION_SUBMAJOR" >> $GITHUB_ENV
          echo "VERSION_MINOR=$VERSION_MINOR" >> $GITHUB_ENV
          echo "VERSION_TS=$TS" >> $GITHUB_ENV
          echo "VERSION_TAG=$VERSION_MAJOR.$VERSION_SUBMAJOR.$VERSION_MINOR.$TS" >> $GITHUB_ENV
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            quay.io/phasetwo/phasetwo-keycloak:latest
            quay.io/phasetwo/phasetwo-keycloak:${{ env.VERSION_MAJOR }}
            quay.io/phasetwo/phasetwo-keycloak:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}
            quay.io/phasetwo/phasetwo-keycloak:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}.${{ env.VERSION_MINOR }}
            quay.io/phasetwo/phasetwo-keycloak:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}.${{ env.VERSION_MINOR }}.${{ env.VERSION_TS }}
      - name: Move files for cluster distribution
        run: cd cluster/ && cp ../conf/cache-ispn-jdbc-ping.xml . && cp ../conf/p2-entrypoint.sh . && cd ../
      - name: Build cluster distribution and push to quay
        uses: docker/build-push-action@v4
        with:
          context: "cluster/"
          file: "cluster/Dockerfile"
          platforms: linux/amd64,linux/arm64
          pull: true
          push: true
          tags: |
            quay.io/phasetwo/phasetwo-cluster:latest
            quay.io/phasetwo/phasetwo-cluster:${{ env.VERSION_MAJOR }}
            quay.io/phasetwo/phasetwo-cluster:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}
            quay.io/phasetwo/phasetwo-cluster:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}.${{ env.VERSION_MINOR }}
            quay.io/phasetwo/phasetwo-cluster:${{ env.VERSION_MAJOR }}.${{ env.VERSION_SUBMAJOR }}.${{ env.VERSION_MINOR }}.${{ env.VERSION_TS }}
      - name: Tag
        uses: cardinalby/git-tag-action@master
        env:
          TAG: v${{ env.VERSION_TAG }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
